<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>File Metadata Microservice</title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>File Metadata Microservice</h1>
      <div>This is the last project in API section on <a href="https://www.freecodecamp.org/challenges/file-metadata-microservice">freeCodeCamp</a>.</div>

      <h3>The user stories are:</h3>
      <ul>
        <li>I can submit a FormData object that includes a file upload.</li>
        <li>When I submit something, I will receive the file size in bytes within the JSON response</li>
      </ul>

      <h3>Instead of examples there are actual buttons here:</h3>

      <form enctype="multipart/form-data" method="post" name="fileinfo" action="/filesize">
        <label class="file-button">
          <input type="file" name="file" required class="hidden" />
          Upload file
        </label>
        <label class="submit-button">
          <input type="submit" class="hidden" />
          Submit
        </label>
      </form>
      
    </div>
  </body>
</html>
